PERSONAL_CALENDAR_URL        = ""
WORK_CALENDAR_URL            = ""
DIGITALOCEAN_SPACES_BUCKET   = ""
DIGITALOCEAN_SPACES_ENDPOINT = ""
DIGITALOCEAN_SPACES_KEY      = ""
DIGITALOCEAN_SPACES_REGION   = ""
DIGITALOCEAN_SPACES_SECRET   = ""
